<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Edit Student</h1>
<a th:href="@{/}">Back Menu</a>
<form method="post" th:action="@{/student/edit/{id}}" th:object="${student}">
    <label>Name</label> <br>
    <input th:field="*{name}">  <br>
    <input th:field="*{id}" hidden>  <br>
    <label>Address</label> <br>
    <input th:field="*{address}"><br>
    <label>Age</label> <br>
    <input name="age" th:field="*{age}"><br>
    <button type="submit">Edit</button>
</form>
</body>
</html>